<!-- footer.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        .footer {
            font-family: 'Lato', sans-serif; /* Specify your font here */
            font-size: 14px;
            text-align: left;
            width: 100%;
            margin-left: 20px;
        }
        .footer img {
            height: 16px;
            margin-right: 4px;
            position: relative;
            top: 0px;
            left: -5px
        }
        .footer .date {
            position: relative;
            top: -4px
        }
    </style>
</head>
<body>
    <div class="footer">
        <img src="Onepoint_logo_blue.png"> <span class="date">{{date}}</span>
    </div>
</body>
</html>