<!-- footer.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        .header {
            font-family: 'Lato', sans-serif; /* Specify your font here */
            font-size: 20px;
            text-align: left;
            width: 100%;
            margin-left: 20px;
            color: white
        }
        
    </style>
</head>
<body>
    <div class="header">
        h
    </div>
</body>
</html>