<!DOCTYPE html>
<html lang="en">

{% include 'include_results_head.html' %}

<body>
    <div class="container">
        <!-- <img src="http://176.34.128.143:8085/logo-one-point.png"
            class="banner" /> -->
        {% include 'include_report_prefix.html' %}
        
        {% include 'include_maturity_report.html' %}

        <h2 class="personalOffer">A personal offer for you</h2>
        <p>
            We are offering a free results interpretation call to talk through the
            Companion's recommendations and suggested courses of action with a real
            human expert. If you are open to that, please email us at
            <a class="email-link" href="mailto:datawellness@onepointltd.com">datawellness@onepointltd.com</a>
            from your business email address with your request to schedule a call.
        </p>
        <p>
            We would love your feedback:
            <a class="email-link" href="mailto:feedback@onepointltd.ai">feedback@onepointltd.ai</a>.
        </p>
        <p>
            For more information, please visit us at
            <a class="email-link" href="https://www.onepointltd.com/data-wellness/">Onepoint Data Wellness</a>.
        </p>
    </div>
</body>

</html>